<%- include("includes/head.ejs") %>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<title>404 NOT FOUND</title>
</head>
<body>
<%- include("includes/header.ejs") %>
<%- include("includes/nav.ejs") %>
  <main id="flexmain">
      <h1>404 Fehlerseite!</h1>
      <p>Leider konnte die von Ihnen angeforderte Seite nicht gefunden werden. <br>Mitte stellen Sie sicher, dass der genutze Pfad auch zur Verfügung steht. Sie können auch die vorhandene Navigation nutzen!</p>
  </main>
  <aside id="flexaside">
    <section id="aktuelleMeldungen">
      <h2>Aktuelle Meldungen!</h2>
      <ul>
        <li>
          08.05.2020 - Gefunden: Bonuspunkte für Kooperative Systeme.
          Eigentümer bitte umgehend beim Förtner melden
        </li>
        <li>
          05.05.2020 - Vorlesung zu Web-Technologien fällt aus.
          Selbsstudium.
        </li>
        <li>01.05.2020 - April, April. Ach ne, doch nicht.</li>
      </ul>
    </section>
  </aside>
<%- include("includes/footer.ejs") %>
</body>
</html>
