<aside id="flexaside">
    <section id="aktuelleMeldungen">
      <h2>Aktuelle Meldungen!</h2>
      <ul>
        <li>
          08.05.2020 - Gefunden: Bonuspunkte für Kooperative Systeme.
          Eigentümer bitte umgehend beim Förtner melden
        </li>
        <li>
          05.05.2020 - Vorlesung zu Web-Technologien fällt aus.
          Selbsstudium.
        </li>
        <li>01.05.2020 - April, April. Ach ne, doch nicht.</li>
      </ul>
    </section>
  </aside>