<nav>
    <ul class="navigation">
      <li><a href="seminarliste">Liste der Seminare</a></li>
      <li><a href="seminardetail">Seminar-Detail</a></li>
      <li><a href="seminarleiter">Dozenten</a></li>
      <li><a href="seminarneu">Seminar anlegen</a></li>
    </ul>
  </nav>